.env

.venv/
venv/
ENV/
env/
.vscode/

db.sqlite3
db.sqlite3-journal
neurobars/

qdrant_storage/

**/__pycache__/
*.pyc
*.pyo
*.pyd
.pytest_cache/

.DS_Store
Thumbs.db

neurobars_frontend/node_modules/
neurobars_frontend/dist/
neurobars_frontend/.output/
neurobars_frontend/.next/
neurobars_frontend/package-lock.json.lock